{% extends 'main/base.html' %}

{%  block title %}
О нас
{% endblock %}

{%  block content %}
    <h1>Правила для продавцов</h1>
    <p>Размещение объявлений на других биржах. При этом разрешается размещать объявления на форумах, продавать в магазины и т. д</p>
    <p>Попытка передачи товара или оказания услуги без проведения платежа через FunPay. Обмен товарами или услугами.</p>
    <p>Просьба к покупателю о подтверждении заказа до его фактического выполнения (при отсутствии признаков обмана).</p>
    <p>Обсуждение с покупателем комиссии сайта или цены, указанной продавцом. Разрешено обсуждение только той цены, которую видит покупатель.</p>
    <p>Продажа товаров, полученных неправомерным путём (взломом, брутом, кардингом и т. д.). Продажа персональных данных. Обучение неправомерной деятельности или продажа информации о ней.</p>
    <p>Продажа операционных систем, антивирусов и прочего ПО, не связанного с играми. Продажа нелицензионного ПО. Распространение вредоносного ПО.</p>
    <p>Осознанное размещение недействительных предложений либо предложений с недействительной ценой. Игнорирование заказов.</p>
    <p>В некоторых разделах система может попросить вас написать английское описание к товару. Составление некорректного описания (например, из одной буквы) является нарушением.</p>
    <p>Дублирование предложений, засорение таблицы предложений. Размещение предложений о покупке.</p>
    <p>Проведение лотерей и розыгрышей, продажа «рандома».</p>

    <h1>Ответственность продавцов</h1>
    <p>Передача другому пользователю контактных данных (Skype, Discord, ВКонтакте, телефон и др.) любым способом. Использование контактных данных, полученных от другого пользователя. Связь в игре после выполнения заказа.</p>
    <p>Недобросовестное использование системы отзывов (накрутка, шантаж, безосновательное изменение отзыва по старому заказу и т. д.).</p>
    <p>Передача третьим лицам либо разглашение какой-либо информации (имя пользователя, идентификатор игрока, сумма и пр.) с целью нанесения вреда пользователю.</p>
    <p>Попытка покупки или продажи аккаунта FunPay</p>
    <p>Использование своего аватара нетрадиционным способом (текст, реклама, акции и др.). Размещение на аватаре противозаконной или политической информации (флаги, исторические деятели и т. д.).</p>
    <p>Использование своего имени нетрадиционным способом: реклама, акции, противозаконная или политическая информация.</p>
    <p>Нарушения в общем чате: продажа, обсуждение или реклама торговых интернет-ресурсов, критика других продавцов или их предложений, оскорбления, политические обсуждения.</p>
    <p>Оскорбление в ином месте (не в общем чате). Навязывание диалога с политическим подтекстом.</p>
    <p>Реклама, спам, массовая рассылка пользователям.</p>
    <p>Мошенничество, обман других пользователей.</p>

    <h1>Услуги</h1>
    <p>Существенное изменение характеристик аккаунта, не оговоренное с покупателем (например, увеличение счётчика PK в Lineage 2, изменение порядочности в Dota 2 при прокачке MMR, пропажа игровых предметов с аккаунта и т. д.).</p>
    <p>Выполнение услуги с отрицательным результатом (например, снижение рейтинга MMR в Dota 2 вместо его увеличения).</p>
    <p>Блокировка аккаунта из-за некачественно оказываемой услуги (например, из-за использования продавцом бота или другого запрещённого издателем игры ПО).</p>
    <p>Блокировка аккаунта из-за оказываемой услуги.</p>
    <p>Необоснованный отказ продавца от дальнейшего выполнения услуги.</p>
    <p>Задержка оговоренных с покупателем сроков.	</p>
{% endblock %}
