{% extends 'main/base.html' %}

{%  block title %}
привет
{% endblock %}

{%  block content %}
    <h1>Ассортимент в наличии</h1>
    <p></p>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Пакет "НОВИЧОК"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$50<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-300 (На Ваш выбор)</li>
              <li>Игровая валюта: 20.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://avatars.mds.yandex.net/i?id=1332dba6517e3b5ca95331584c04b3423fc7046c-9181119-images-thumbs&n=13" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">пакет "СТАРТ"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$100<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-500 (На Ваш выбор)</li>
              <li>Игровая валюта: 60.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://avatars.mds.yandex.net/i?id=289d8ce9ef04d9bd430426f4d3c8bbad8b9f96f0-8259514-images-thumbs&n=13" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Пакет "СТАРТ+."</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$200<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-1000 (На Ваш выбор)</li>
              <li>Игровая валюта: 100.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://avatars.mds.yandex.net/i?id=f832b73853e6ff16d1e28a31510fcee371daa579-9095672-images-thumbs&n=13" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
    </div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">"ГАНГСТЕР"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$400<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-3333 (На Ваш выбор)</li>
              <li>Игровая валюта: 200.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://flexboost.ru/static/img/gta5.1.ac6561c.png" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">пакет "ЭЛИТНЫЙ"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$600<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-4000 (На Ваш выбор)</li>
              <li>Игровая валюта: 400.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://avatars.mds.yandex.net/i?id=988239a9f93ae97a4624b100899123a7-3756503-images-thumbs&n=13" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Пакет "V.I.P."</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1000<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Уровень (LVL): 1-7999 (На Ваш выбор)</li>
              <li>Игровая валюта: 999.000.000$</li>
              <li>Открытие всех отчиков</li>
              <li>Разблокировка закрытого контента</li>
              <img src="https://avatars.mds.yandex.net/i?id=3250e29528a4dabf1f729bc3250b6c3c76aae10b-4507796-images-thumbs&n=13" width="300" height="300">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Оформить заказ?</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}