{% extends 'main/base.html' %}

{%  block title %}
{{ title }}
{% endblock %}

{%  block content %}
    <h1>Прокачка Grand Theft Auto 6</h1>
    <p>Для просмотра ассортимента аккаунтов , перейдите по кнопке "Аккаунты"!!!</p>
    <h1>Отзывы</h1>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-secondary  mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>У нас нету записей!!!</p>
    {% endif %}
{% endblock %}
